:root {
  /* Primary */
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(1, 100%, 90%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background: var(--off-white);
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attribution { 
  font-size: 0.687rem; 
  text-align: center;
  transform: translate(0, 230px);
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.error-text {
  display: block;
  font: italic normal 0.625rem 'Poppins', sans-serif;
  margin-top: 4px;
  color: red;
  letter-spacing: initial;
}